<https://ld.stadt-zuerich.ch/statistics/property/{{ property_code }}> a <http://www.w3.org/1999/02/22-rdf-syntax-ns#Property> ;
    <https://schema.org/name> "{{ title }}" ;
    <https://schema.org/identifier> "{{ property_code }}" .
