<https://ld.stadt-zuerich.ch/statistics/termset/{{ REFERENZTABELLE }}> a <https://schema.org/DefinedTermSet> ;
    <https://schema.org/name> "{{ REFERENZTABELLE }}" ;
    <https://schema.org/identifier> "{{ REFERENZTABELLE }}" ;
    <https://schema.org/hasDefinedTerm> <https://ld.stadt-zuerich.ch/statistics/code/{{ CODE }}> .
