<https://ld.stadt-zuerich.ch/statistics/code/{{ CODE }}> a rdf:Property ;
    <https://schema.org/name> "{{ CODENAME }}" ;
    <https://schema.org/termCode> "{{ CODE }}" ;
    <https://schema.org/inDefinedTermSet> <https://ld.stadt-zuerich.ch/statistics/termset/{{ REFERENZTABELLE }}> .
