<https://ld.stadt-zuerich.ch/catalog/SSZ/cube> <https://schema.org/dataset> <https://ld.stadt-zuerich.ch/statistics/{{ cube_id|uri_encode }}> .
<https://ld.stadt-zuerich.ch/statistics/{{ cube_id|uri_encode }}> a <https://cube.link/Cube> ;
    <https://schema.org/name> {{ title|literal_encode }} ;
    <https://schema.org/creativeWorkStatus> <https://ld.admin.ch/vocabulary/CreativeWorkStatus/Draft> ;
    <https://schema.org/workExample> <https://ld.admin.ch/application/visualize> ;
    <https://cube.link/observationConstraint> <https://ld.stadt-zuerich.ch/statistics/{{ cube_id|uri_encode }}/shape> ;
    <https://cube.link/observationSet> <https://ld.stadt-zuerich.ch/statistics/{{ cube_id|uri_encode }}/observation> .
<https://ld.stadt-zuerich.ch/statistics/{{ cube_id|uri_encode }}/observation> a <https://cube.link/ObservationSet> .
