<https://ld.stadt-zuerich.ch/statistics/{{ CID }}> a <https://cube.link/Cube> ;
    <https://schema.org/name> "{{ Titel }}" ;
    <https://schema.org/creativeWorkStatus> <https://ld.admin.ch/vocabulary/CreativeWorkStatus/Draft> ;
    <https://schema.org/workExample> <https://ld.admin.ch/application/visualize> ;
    <https://cube.link/observationConstraint> <https://ld.stadt-zuerich.ch/statistics/{{ CID }}/shape> ;
    <https://cube.link/observationSet> <https://ld.stadt-zuerich.ch/statistics/{{ CID }}/observation> .
<https://ld.stadt-zuerich.ch/statistics/{{ CID }}/observation> a <https://cube.link/ObservationSet> .
