<https://ld.stadt-zuerich.ch/statistics/meta/object/{{ id }}> a <https://ld.stadt-zuerich.ch/schema/Objekte> ;
    <https://schema.org/description> "{{ DOBeschreibung }}" ;
    <https://schema.org/name> "{{ DOName }}" ;
    <https://schema.org/alternateName> "{{ DOMDQuellsystemID }}" ;
    <https://schema.org/identifier> "{{ id }}" ;
    <https://ld.stadt-zuerich.ch/schema/metadataCreator> "{{ DOMetadatenErfasserId }}" ;
    <https://schema.org/startDate> "{{ DODatenvon }}"^^<http://www.w3.org/2001/XMLSchema#date> ;
    <https://schema.org/endDate> "{{ DODatenbis }}"^^<http://www.w3.org/2001/XMLSchema#date> ;
    <http://purl.org/dc/terms/accrualPeriodicity> "{{ DOAktualisierung }}" ;
    <http://purl.org/dc/terms/issued> "{{ DOMetadatenFreigabedatum }}"^^<http://www.w3.org/2001/XMLSchema#date> ;
    <http://purl.org/dc/terms/modified> "{{ DOAktualisierungsDatum }}"^^<http://www.w3.org/2001/XMLSchema#date> ;
    <https://ld.stadt-zuerich.ch/schema/legalFoundation> <https://ld.stadt-zuerich.ch/statistics/meta/legal/{{ DOOGDRechtsgrundlagenID }}> ;
    <http://purl.org/dc/terms/spatial> "{{ DORaeumlicheBeziehung }}" ;
    <http://purl.org/dc/terms/publisher> <https://ld.stadt-zuerich.ch/statistics/meta/org/{{ DODienstabteilungID }}> ;
    <http://www.w3.org/ns/dcat#theme> "{{ DOKategorie }}" ;
    <http://www.w3.org/ns/dcat#keyword> "{{ DOSchluesselwoerter }}" ;
    <http://purl.org/dc/terms/license> "{{ DOOGDLizenz }}" ;
    <https://ld.stadt-zuerich.ch/schema/usageNotes> "{{ DOBeschreibungBemerkungen }}" .
