<https://ld.stadt-zuerich.ch/statistics/meta/org/{{ DODienstabteilungID }}> a rdf:Property ;
    <https://schema.org/identifier> "{{ DODienstabteilungID }}" ;
    <https://schema.org/name> "{{ DODienstabteilung }}" .
