<https://ld.stadt-zuerich.ch/statistics/meta/org/{{ DODatenlieferantID }}> a <https://schema.org/Organization> ;
    <https://schema.org/identifier> "{{ DODatenlieferantID }}" ;
    <https://schema.org/name> "{{ DODatenlieferant }}" .
