<https://ld.stadt-zuerich.ch/statistics/meta/org/{{ DODatenlieferantID }}> a rdf:Property ;
    <https://schema.org/identifier> "{{ DODatenlieferantID }}" ;
    <https://schema.org/name> "{{ DODatenlieferant }}" .
