<https://ld.stadt-zuerich.ch/statistics/property/{{ Dimension }}> a rdf:Property , <https://cube.link/KeyDimension> ;
    <https://schema.org/name> "{{ Dimensionname }}" ;
    <https://schema.org/identifier> "{{ Dimension }}" .
