<https://ld.stadt-zuerich.ch/statistics/property/{{ Dimension }}> a <http://www.w3.org/1999/02/22-rdf-syntax-ns#Property> , <https://cube.link/KeyDimension> ;
    <https://schema.org/name> "{{ Dimensionname }}" ;
    <https://schema.org/identifier> "{{ Dimension }}" .
