<https://ld.stadt-zuerich.ch/statistics/termset/{{ term_set|uri_encode }}> a <https://schema.org/DefinedTermSet> ;
	<https://schema.org/identifier> {{ term_set|literal_encode }} ;
	<https://schema.org/name> {{ term_set_name|literal_encode }} ;
	<https://schema.org/hasDefinedTerm> <https://ld.stadt-zuerich.ch/statistics/code/{{ term_code|uri_encode }}> .

