<https://ld.stadt-zuerich.ch/statistics/measure/{{ KennzahlCode }}> a <http://www.w3.org/1999/02/22-rdf-syntax-ns#Property> , <https://cube.link/MeasureDimension> ;
    <https://schema.org/name> "{{ Kennzahlname }}" ;
    <https://schema.org/identifier> "{{ KennzahlCode }}" ;
    <http://qudt.org/schema/qudt/unit> <https://ld.stadt-zuerich.ch/statistics/unit/{{ Einheit_URI }}> ;
    <https://schema.org/description> "{{ Beschreibung }}" ;
    <https://schema.org/disambiguatingDescription> "{{ Methode }}" ;
    <https://example.org/GLOSSARID> "{{ GlossarID }}" .
