<https://ld.stadt-zuerich.ch/statistics/unit/{{ Einheit_URI }}> a <http://qudt.org/schema/qudt/Unit> ;
    <https://schema.org/name> "{{ Einheit }}" ;
    <https://schema.org/identifier> "{{ Einheit_Kurz }}" .
