<https://ld.stadt-zuerich.ch/statistics/meta/legal/{{ legal_foundation_id|uri_encode }}> a <https://ld.stadt-zuerich.ch/schema/LegalFoundation> ;
    <https://schema.org/name> {{ title|literal_encode }} ; {# title instead of name #}
    <https://schema.org/url> {{ url|literal_encode }} .
