<https://ld.stadt-zuerich.ch/statistics/measure/{{ measure_code }}> a <http://www.w3.org/1999/02/22-rdf-syntax-ns#Property> , <https://cube.link/MeasureDimension> ;
    <https://schema.org/identifier> "{{ measure_code }}" ;
    <https://schema.org/name> "{{ title }}" ;
    <https://schema.org/description> "{{ title }}" ;
    <https://qudt.org/schema/qudt/unit> <https://ld.stadt-zuerich.ch/statistics/unit/{{ unit }}> ;
    <https://schema.org/disambiguatingDescription> "{{ description }}" .
