<https://ld.stadt-zuerich.ch/statistics/unit/{{ unit|uri_encode }}> a <http://qudt.org/schema/qudt/Unit> ;
    <https://schema.org/name> {{ name|literal_encode }} ;
    <https://schema.org/identifier> {{ identifier|literal_encode }} .
