<https://ld.stadt-zuerich.ch/statistics/observation/{{ prop1_code|uri_encode }}-{{ prop2_code|uri_encode }}-{{ prop3_code|uri_encode }}-{{ prop4_code|uri_encode }}-{{ prop5_code|uri_encode }}-{{ room_code|uri_encode }}-{{ time_code|uri_encode }}> a <https://cube.link/Observation> ;
    <https://ld.stadt-zuerich.ch/statistics/property/ZEIT> <https://ld.stadt-zuerich.ch/statistics/code/{{ time_code|uri_encode }}> ;
    {% if time %}<https://ld.stadt-zuerich.ch/statistics/property/TIME> {{ time|literal_encode }}^^<http://www.w3.org/2001/XMLSchema#date> ; {% endif %}
    <https://ld.stadt-zuerich.ch/statistics/property/RAUM> <https://ld.stadt-zuerich.ch/statistics/code/{{ room_code|uri_encode }}> ;
    <https://ld.stadt-zuerich.ch/statistics/property/GRUPPENANZ> <https://ld.stadt-zuerich.ch/statistics/code/GRUPPENANZ{{ number_groups|uri_encode }}> ;
    <https://ld.stadt-zuerich.ch/statistics/property/STATUS> <https://ld.stadt-zuerich.ch/statistics/code/STATUS_{{ status|uri_encode }}> ;
    {% if prop1_code_short != "XXX" %}
    <https://ld.stadt-zuerich.ch/statistics/property/{{ prop1_code_short|uri_encode }}> <https://ld.stadt-zuerich.ch/statistics/code/{{ prop1_code|uri_encode }}> ;
    {% endif %}
    {% if prop2_code_short != "XXX" %}
    <https://ld.stadt-zuerich.ch/statistics/property/{{ prop2_code_short|uri_encode }}> <https://ld.stadt-zuerich.ch/statistics/code/{{ prop2_code|uri_encode }}> ;
    {% endif %}
    {% if prop3_code_short != "XXX" %}
    <https://ld.stadt-zuerich.ch/statistics/property/{{ prop3_code_short|uri_encode }}> <https://ld.stadt-zuerich.ch/statistics/code/{{ prop3_code|uri_encode }}> ;
    {% endif %}
    {% if prop4_code_short != "XXX" %}
    <https://ld.stadt-zuerich.ch/statistics/property/{{ prop4_code_short|uri_encode }}> <https://ld.stadt-zuerich.ch/statistics/code/{{ prop4_code|uri_encode }}> ;
    {% endif %}
    {% if prop5_code_short != "XXX" %}
    <https://ld.stadt-zuerich.ch/statistics/property/{{ prop5_code_short|uri_encode }}> <https://ld.stadt-zuerich.ch/statistics/code/{{ prop5_code|uri_encode }}> ;
    {% endif %}
    <https://ld.stadt-zuerich.ch/statistics/measure/{{ measure|uri_encode }}> {% if value|is_numeric %}{{ value|literal_encode }}^^<http://www.w3.org/2001/XMLSchema#decimal>{% else %}{{ value|literal_encode }}^^<https://cube.link/Undefined>{% endif %} ;
    <https://cube.link/observedBy> <https://ld.stadt-zuerich.ch/org/SSZ> .
{% for cube_id in cube_ids.split(',') %}
<https://ld.stadt-zuerich.ch/statistics/{{ cube_id|uri_encode }}/observation> <https://cube.link/observation> <https://ld.stadt-zuerich.ch/statistics/observation/{{ prop1_code|uri_encode }}-{{ prop2_code|uri_encode }}-{{ prop3_code|uri_encode }}-{{ prop4_code|uri_encode }}-{{ prop5_code|uri_encode }}-{{ room_code|uri_encode }}-{{ time_code|uri_encode }}> .
{% endfor %}
