<https://ld.integ.stadt-zuerich.ch/statistics/observation/{{ prop1_code }}-{{ prop2_code }}-{{ prop3_code }}-{{ prop4_code }}-{{ prop5_code }}-{{ raum_code }}-{{ zeit_code }}> a <https://cube.link/Observation> ;
    <https://ld.stadt-zuerich.ch/statistics/property/ZEIT> <https://ld.stadt-zuerich.ch/statistics/code/{{ zeit_code }}> ;
    <https://ld.stadt-zuerich.ch/statistics/property/TIME> "{{ zeit_wert }}"^^<http://www.w3.org/2001/XMLSchema#date> ;
    <https://ld.stadt-zuerich.ch/statistics/property/RAUM> <https://ld.stadt-zuerich.ch/statistics/code/{{ raum_code }}> ;{% if not prop1_code_short == "XXX" %}
    <https://ld.stadt-zuerich.ch/statistics/property/{{ prop1_code_short }}> <https://ld.stadt-zuerich.ch/statistics/code/{{ prop1_code }}> ;{% endif %}{% if not prop2_code_short == "XXX" %}
    <https://ld.stadt-zuerich.ch/statistics/property/{{ prop2_code_short }}> <https://ld.stadt-zuerich.ch/statistics/code/{{ prop2_code }}> ;{% endif %}{% if not prop3_code_short == "XXX" %}
    <https://ld.stadt-zuerich.ch/statistics/property/{{ prop3_code_short }}> <https://ld.stadt-zuerich.ch/statistics/code/{{ prop3_code }}> ;{% endif %}{% if not prop4_code_short == "XXX" %}
    <https://ld.stadt-zuerich.ch/statistics/property/{{ prop4_code_short }}> <https://ld.stadt-zuerich.ch/statistics/code/{{ prop4_code }}> ;{% endif %}{% if not prop5_code_short == "XXX" %}
    <https://ld.stadt-zuerich.ch/statistics/property/{{ prop5_code_short }}> <https://ld.stadt-zuerich.ch/statistics/code/{{ prop5_code }}> ;{% endif %}
    {# <https://ld.stadt-zuerich.ch/statistics/property/GRUPPENANZ> <https://ld.stadt-zuerich.ch/statistics/code/GRUPPENANZ{{ ANZ_GRUPPEN }}> ; #}
    <https://ld.stadt-zuerich.ch/statistics/measure/{{ kennzahl }}> {% if is_wert_nan %}"{{ wert }}"^^<https://cube.link/Undefined>{% else %}"{{ wert|int }}"^^<http://www.w3.org/2001/XMLSchema#decimal>{% endif %} ;
    <https://cube.link/observedBy> <https://ld.stadt-zuerich.ch/org/SSZ> ;
    {# <https://ld.stadt-zuerich.ch/statistics/property/STATUS> <https://ld.stadt-zuerich.ch/statistics/code/{% if DATENSTATUS == "veröffentlicht" %}STATUS_VEROEFFENTLICHT{% elif DATENSTATUS == "definitiv" %}STATUS_DEFINITIV{% else %}STATUS_PROVISORISCH{% endif %}> . #}
{# {% for CID in CUBE_IDS if CID -%}
<https://ld.integ.stadt-zuerich.ch/statistics/{{ CID }}/observation> <https://cube.link/observation> <https://ld.integ.stadt-zuerich.ch/statistics/observation/{{ prop1_code }}-{{ prop2_code }}-{{ prop3_code }}-{{ prop4_code }}-{{ prop5_code }}-{{ RAUM }}-{{ ZEIT }}> .{% if not loop.last %}
{% endif %}
{%- endfor %} #}
