<https://ld.stadt-zuerich.ch/statistics/code/{{ child_code |uri_encode }}> <https://ld.stadt-zuerich.ch/schema/hierarchy/has{{ relation_filter|uri_encode }}> <https://ld.stadt-zuerich.ch/statistics/code/{{ parent_code |uri_encode }}> .
