<https://ld.stadt-zuerich.ch/statistics/code/{{ Raum }}> a rdf:Property ;
    <https://schema.org/name> "{{ RaumLang }}"@de ;
    <https://schema.org/position> "{{ RaumSort }}"^^<http://www.w3.org/2001/XMLSchema#integer> ;
    <https://schema.org/description> "{{ Beschreibung }}" ;
    <https://schema.org/disambiguatingDescription> "{{ GueltigkeitsbereicheID }}" ;
    <https://schema.org/sameAs> "{{ WikidataURI }}" ;
    <https://schema.org/termCode> "{{ Raum }}" ;
    <https://example.org/raumfilter> "{{ RaumFilter }}" .
