<https://ld.stadt-zuerich.ch/statistics/code/{{ Raum }}> a rdf:Property ;
    <https://schema.org/name> "{{ RaumLang }}" ;
    <https://schema.org/position> "{{ RaumSort }}" ;
    <https://schema.org/description> "{{ Beschreibung }}" ;
    <https://schema.org/disambiguatingDescription> "{{ GueltigkeitsbereicheID }}" ;
    <https://schema.org/sameAs> "{{ WikidataURI }}" ;
    <https://schema.org/termCode> "{{ Raum }}" ;
    <https://example.org/raumfilter> "{{ RaumFilter }}" .
