<https://ld.stadt-zuerich.ch/statistics/meta/legal/{{ id }}> a <https://ld.stadt-zuerich.ch/schema/LegalFoundation> ;
    <https://schema.org/name> "{{ RGBezeichnung }}" ;
    <https://schema.org/url> "{{ RGLink }}" .
