<https://ld.stadt-zuerich.ch/statistics/code/{{ term_code|uri_encode }}> a <https://schema.org/Place> , <https://schema.org/DefinedTerm> ;
    <https://schema.org/name> {{ title|literal_encode }}@de ;
    <https://schema.org/position> {{ position|literal_encode }}^^<http://www.w3.org/2001/XMLSchema#integer> ;
    <https://schema.org/description> {{ description|literal_encode }} ;
    <https://schema.org/disambiguatingDescription> {{ available|literal_encode }} ;
    <https://schema.org/sameAs> <{{ same_as }}> ;
    {% if term_sets %}
	    {% for term_set in term_sets.split(';') %}
			<https://schema.org/inDefinedTermSet> <https://ld.stadt-zuerich.ch/statistics/termset/{{ term_set|uri_encode }}> ;
		{% endfor %}
	{% endif %}
	<https://schema.org/termCode> {{ term_code|literal_encode }} .
{% if term_sets %}
	{% for term_set in term_sets.split(';') %}
		<https://ld.stadt-zuerich.ch/statistics/termset/{{ term_set|uri_encode }}> a <https://schema.org/DefinedTermSet> ;
			<https://schema.org/identifier> {{ term_set|literal_encode }} ;
			<https://schema.org/name> {{ term_set|literal_encode }} ;
			<https://schema.org/hasDefinedTerm> <https://ld.stadt-zuerich.ch/statistics/code/{{ term_code|uri_encode }}> .
	{% endfor %}
{% endif %}
