<https://ld.stadt-zuerich.ch/statistics/code/{{ term_code }}> a <http://schema.org/DefinedTerm> , <http://schema.org/Place> ;
    <https://schema.org/inDefinedTermSet> <https://ld.stadt-zuerich.ch/statistics/termset/{{ hierarchy }}> ;
    <https://ld.integ.stadt-zuerich.ch/sparql/#RaumParent> "{{ room_parent }}" ;
    <https://ld.integ.stadt-zuerich.ch/sparql/#RaumParentLang> "{{ room_parent_name }}" ;
    <https://schema.org/disambiguatingDescription> "{{ disambiguating_description }}" ;
    <https://schema.org/name> "{{ name }}" ;
    <https://schema.org/position> "{{ position }}" ;
    <https://schema.org/sameAs> <{{ same_as }}> ;
    <https://schema.org/termCode> {{ term_code }} .
<https://ld.stadt-zuerich.ch/statistics/termset/{{ hierarchy }}> <http://schema.org/hasDefinedTerm> <https://ld.stadt-zuerich.ch/statistics/code/{{ term_code }}> .
