<https://ld.stadt-zuerich.ch/statistics/code/{{ term_code|uri_encode }}> a <http://www.w3.org/2006/time#TemporalEntity> , <https://schema.org/DefinedTerm> ;
    <https://schema.org/name> {{ date|literal_encode }} ; {# date instead of zeit_wert #}
    <https://schema.org/name> {{ end_date|literal_encode }} ; {# added end_date#}
    <https://schema.org/termCode> {{ term_code|literal_encode }} ;
    <https://ld.stadt-zuerich.ch/schema/hasEnd> {{ date|literal_encode }}^^<http://www.w3.org/2001/XMLSchema#date> ; {# date instead of zeit_wert #}
    <https://ld.stadt-zuerich.ch/schema/hasEnd> {{ end_date|literal_encode }}^^<http://www.w3.org/2001/XMLSchema#date> ; {# added end_date #}
    <https://ld.stadt-zuerich.ch/schema/hasBeginning> {{ start_date|literal_encode }}^^<http://www.w3.org/2001/XMLSchema#date> ; {# added start_date #}
    <https://ld.stadt-zuerich.ch/schema/referenceTime> {{ reference_time|literal_encode }} . {# added reference_time #}
