<https://ld.stadt-zuerich.ch/statistics/code/{{ term_code|uri_encode }}> a <http://www.w3.org/2006/time#TemporalEntity> , <https://schema.org/DefinedTerm> ;
    {% if date %}
        <https://schema.org/name> {{ date|literal_encode }} ;
    {% endif %}
    {% if end_date %}
        <https://schema.org/name> {{ end_date|literal_encode }} ;
    {% endif %}
    <https://schema.org/termCode> {{ term_code|literal_encode }} ;
    {% if date|is_valid_date %}
        <https://ld.stadt-zuerich.ch/schema/hasEnd> {{ date|literal_encode }}^^<http://www.w3.org/2001/XMLSchema#date> ;
    {% endif %}
    <https://ld.stadt-zuerich.ch/schema/referenceTime> {{ reference_time|literal_encode }} ;
    {% if filter_day|int == 1 %}
        <https://schema.org/inDefinedTermSet> <https://ld.stadt-zuerich.ch/statistics/termset/Tag> ;
    {% endif %}
    {% if filter_month|int == 1 %}
        <https://schema.org/inDefinedTermSet> <https://ld.stadt-zuerich.ch/statistics/termset/Monat> ;
    {% endif %}
    {% if filter_trimester|int == 1 %}
        <https://schema.org/inDefinedTermSet> <https://ld.stadt-zuerich.ch/statistics/termset/Trimester> ;
    {% endif %}
    {% if filter_quarter|int == 1 %}
        <https://schema.org/inDefinedTermSet> <https://ld.stadt-zuerich.ch/statistics/termset/Quartal> ;
    {% endif %}
    {% if filter_semester|int == 1 %}
        <https://schema.org/inDefinedTermSet> <https://ld.stadt-zuerich.ch/statistics/termset/Semester> ;
    {% endif %}
    {% if filter_year|int == 1 %}
        <https://schema.org/inDefinedTermSet> <https://ld.stadt-zuerich.ch/statistics/termset/Jahr> ;
    {% endif %}
.
