<https://ld.stadt-zuerich.ch/statistics/code/{{ ZEIT }}> a rdf:Property ;
    <https://schema.org/name> "{{ STICHTAGDATUM }}" ;
    <https://schema.org/name> "{{ PERIODEENDE }}" ;
    <https://schema.org/termCode> "{{ ZEIT }}" ;
    <https://ld.stadt-zuerich.ch/schema/hasEnd> "{{ STICHTAGDATUM }}" ;
    <https://ld.stadt-zuerich.ch/schema/hasEnd> "{{ PERIODEENDE }}" ;
    <https://ld.stadt-zuerich.ch/schema/hasBeginning> "{{ PERIODESTART }}" ;
    <https://ld.stadt-zuerich.ch/schema/referenceTime> "{{ BEZUGSZEIT }}" .
