<https://ld.stadt-zuerich.ch/statistics/view/{{ view.id|uri_encode }}> a <http://rdfs.org/ns/void#Dataset>, <http://schema.org/Dataset>, <http://www.w3.org/ns/dcat#Dataset>, <https://cube.link/view/View>;
    <https://schema.org/name> {{ view.name|literal_encode }} ;

    <http://www.w3.org/ns/dcat#distribution> [ a <http://www.w3.org/ns/dcat#Distribution>;
            <http://purl.org/dc/terms/format> "CSV";
            <http://www.w3.org/ns/dcat#downloadURL> <https://ld.stadt-zuerich.ch/statistics/view/{{ view.id|uri_encode }}/observation?format=csv>;
            <http://www.w3.org/ns/dcat#mediaType> "text/csv"
    ].
