.venv
.idea
tmp
output/
fuseki_index/
reports
Pipfile
Pipfile.lock
**/__pycache__
.DS_Store
Archiv/
*.log
config.server.ini
config-dev.ini
config-test.ini
config-int.ini
config-prod.ini
.env
dev.env
test.env
int.env
prod.env
