DROP VIEW IF EXISTS [{{ 'dbo.view_dimension_hierarchy' | view_name }}];

GO

CREATE VIEW [{{ 'dbo.view_dimension_hierarchy' | view_name }}] AS
    SELECT
        Gruppencode AS child_code,
        PARENTCODE AS parent_code,
        ParentLevelId AS hierarchie_relation
    FROM [{{ 'dbo.pipe_HDBLevelCode' | pipe_table_name }}]
;