DROP VIEW IF EXISTS [{{ 'dbo.view_group_code' | view_name }}];

GO

CREATE VIEW [{{ 'dbo.view_group_code' | view_name }}] AS

SELECT DISTINCT
    CASE 
        WHEN ag.gruppe IS NOT NULL THEN REPLACE(t.GRUPPENCODE, ag.gruppe, ag.origin)
        ELSE t.GRUPPENCODE
    END AS term_code,
 
    t.GRUPPENCODENAME AS title,
    t.BESCHREIBUNG AS description,
 
    CASE 
        WHEN ag.gruppe IS NOT NULL THEN REPLACE(t.GRUPPE, ag.gruppe, ag.origin)
        ELSE t.GRUPPE
    END AS term_group_code,
 
    t.GRUPPENCODESORT AS position,
    --t.GLOSSARID AS glossarid,
 
    CASE 
        WHEN ag.gruppe IS NOT NULL THEN REPLACE(t.PARENTCODE, ag.gruppe, ag.origin)
        ELSE t.PARENTCODE
    END AS part_of,
    t.SAMEAS AS sameAs,

    REPLACE(t.HIERARCHIE, ' ', '') AS term_sets_name,
    t.HIERARCHIEIDLIST AS term_sets
 
FROM [{{ 'dbo.pipe_HDBGruppenliste' | pipe_table_name }}] t
LEFT JOIN [{{ 'dbo.pipe_HDBAbgeleiteteGruppen' | pipe_table_name }}] ag
    ON LEFT(t.GRUPPENCODE, 3) = ag.gruppe
    OR LEFT(t.GRUPPE, 3) = ag.gruppe
    OR LEFT(t.PARENTCODE, 3) = ag.gruppe
    
UNION ALL 

SELECT 
    F.Gruppencode as term_code, 
    F.Gruppencodename as title, 
    G.FilterBeschreibung as description, 
    F.Gruppe as term_group_code, 
    '0' as position, 
    NULL as part_of, 
    NULL as sameAs, 
    G.FilterName as term_sets_name, 
    F.FilterID as term_sets
    
FROM [{{ 'dbo.pipe_HDBFilterCode' | pipe_table_name }}] as F
LEFT JOIN [{{ 'dbo.pipe_HDBFilter' | pipe_table_name }}] as G
ON F.FilterID = G.FilterID

UNION ALL 

SELECT DISTINCT
    L.Gruppencode as term_code, 
    L.Gruppencodename as title, 
    G.LevelBeschreibung as description, 
    L.Gruppe as term_group_code, 
    '0' as position, 
    NULL as part_of, 
    NULL as sameAs, 
    G.LevelName as term_sets_name, 
    L.LevelID as term_sets
    
FROM [{{ 'dbo.pipe_HDBLevelCode' | pipe_table_name }}] as L
LEFT JOIN [{{ 'dbo.pipe_HDBLevelGruppe' | pipe_table_name }}] as G
ON G.LevelID = L.LevelID
;

