DROP VIEW IF EXISTS [{{ 'dbo.view_hierarchy' | view_name }}];

GO

CREATE VIEW [{{ 'dbo.view_hierarchy' | view_name }}] AS
SELECT DISTINCT
    t.GRUPPE AS term_group_code,

    UPPER(REPLACE(t.GRUPPENCODE, '-', '')) AS term,

    t.GRUPPENNAME AS name
    
FROM
    [{{ 'dbo.pipe_HDBGruppenliste' | pipe_table_name }}] t
WHERE
    t.GRUPPE = t.ORIGIN;
