DROP VIEW IF EXISTS [{{ 'dbo.view_vb_dimension' | view_name }}];
GO

CREATE VIEW [{{ 'dbo.view_vb_dimension' | view_name }}] AS
SELECT DISTINCT
    t.SASA_Job_Output_Id AS view_id,
    h.GRUPPE AS identifier,
    h.Gruppenname AS name,
    h.Gruppenname as description
FROM 
    [{{ 'pipe_HDBDatenobjekte' | pipe_table_name }}] t
CROSS APPLY 
    STRING_SPLIT(t.HierarchieID_List, ';') AS split_values
JOIN 
    [{{ 'pipe_HDBGruppenliste' | pipe_table_name }}] h
ON 
    h.GRUPPE = substring(split_values.value,2, 3)
;
