DROP VIEW IF EXISTS [{{ 'dbo.view_code' | view_name }}];

GO

CREATE VIEW [{{ 'dbo.view_code' | view_name }}] AS
SELECT
	t.CODE AS term_code,
	t.CODENAME AS title,
	t.REFERENZTABELLE AS term_group_code
FROM
	[{{ 'dbo.pipe_HDBCodeliste' | pipe_table_name }}] t;
