DROP TABLE IF EXISTS [{{ 'dbo.pipe_HDBFilter' | pipe_table_name }}];

GO

SELECT
    FilterID,
    Filterbeschreibung,
    Filtername
INTO [{{ 'dbo.pipe_HDBFilter' | pipe_table_name }}]
FROM [{{ 'dbo.HDBFilter' | table_name }}];