DROP VIEW IF EXISTS [{{ 'dbo.view_property' | view_name }}];

GO

CREATE VIEW [{{ 'dbo.view_property' | view_name }}] AS
SELECT DISTINCT
	t.GRUPPE AS property_code,
	t.GRUPPENNAME AS title
FROM
	[{{ 'dbo.pipe_HDBGruppenliste' | pipe_table_name }}] t;
