DROP TABLE IF EXISTS '{{ 'dbo.pipe_HDBZeit' | pipe_table_name }}';

GO

SELECT
    ZEIT,
    JAHR,
    MONAT,
    TAG,
    PERIODESTART,
    PERIODEENDE,
	BEZUGSZEIT
INTO '{{ 'dbo.pipe_HDBZeit' | pipe_table_name }}'
FROM'{{ 'dbo.HDBZeit' | table_name }}';